<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../css/style.css"/>

</head>
<body>
<div th:replace="headers/hormenu :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 ">
            <h1 align="center">Strona w budowie</h1>
        </div>
    </div>
</div>
</body>
</html>
