<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.2/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

    <title>Login</title>


</head>
<body>
<div th:replace="headers/hormenu :: header"/>

<div class="container" th:if="${param.error}">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4 style="color:#B32F24">Nazwa użytkownika lub hasło są błędne</h4>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Zaloguj się</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" autocomplete="off" type="text" name="username" placeholder="Login"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Hasło"/>
                            </div>

                            <input type="submit"  class="btn btn-lg btn-sub btn-block" value="Zaloguj"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>