<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>
<div th:replace="headers/hormenu :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-l-0 p-r-0 " id="sidebar">
            <div class="list-group panel">
                <a href="/addtutorial" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span
                        class="hidden-sm-down">Stwórz nowy tutorial</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span
                        class="hidden-sm-down">...</span></a>

            </div>

        </div>
        <div class="col-md-3 ">
            <table>
                <th:block th:each="t : ${tutorials}">
                    <tr>
                        <td><img class="img-fluid" th:src="@{${'/img/'+ t.imgName }}" alt="TutImg"/></td>
                    </tr>
                    <tr>
                        <td th:text="${t.name}"></td>
                    </tr>
                    <tr>
                        <td th:text="${t.description}"></td>
                    </tr>
                    <tr>
                        <td th:text="${t.marks}"></td>
                    </tr>
                    <tr>
                        <td id="date" th:text="${t.subDate}">Data</td>
                    </tr>
                </th:block>
            </table>

        </div>
    </div>
</div>


</body>
</html>
